
/* ----------------- */
/* --PAGE A PROPOS-- */
/* ----------------- */

.right--apropos {
  height: 100vh;
}

.apropos--picture {
  background: url('../img/cnossos.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: auto;
  margin-left: 0px;
  border-radius: 1%;
}

.left--apropos {
  height: 100vh;
}


.text--apropos {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  text-align: justify;
}

.apropos--title {
  font-family: 'Bebas Neue', cursive; 
  color:black;
}

.apropos--link {
  margin-top: 30px;
  align-self: center;
}

.apropos--achille {
  height: 150px;
  margin-right: 20px;
}
