
/* ------------------------------ */
/* LISTE D'ARTICLES PAR CATEGORIE */
/* ------------------------------ */

.articlesByCategory--under--navbar--picture {
  background: url('../img/delphe.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}


.articlesByCategory--list {
  display: flex;
  flex-direction: column;
}

.articlesByCategory--unity {
  margin-left: auto;
  margin-right: auto;
}

.articlesByCategory--unity td {
  padding :0px;
  height: 30px;
}

.articlesByCategory--unity h2 {
  font-family: 'Lexend', sans-serif; 
  font-size: large;
  margin-bottom: 0px;
}

.articlesByCategory--a {
  display: flex;
  align-self: left;
  margin-left: 30px;
  color:black;
  width: 100%;
  margin: 0px;
}

.articlesByCategory--a:hover {
  text-decoration: none;
  margin: 0px;
  
}

.articlesByCategory--unity .badge {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
} 
