/* LISTE DES ARTICLES */

.list--article--under--navbar--picture {
  background: url('../img/sounion.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.list--article--main--container {
  margin: 0px;
  padding: 0px;
  background-color: white;
  margin-top: 70px;
}


.list--article--right {
  background-color: white;
  margin: 0px;
}

.list--article--h1 {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: large;
  color:pink;
  margin: 0px;
}

.list--article--h1 .text-left {
  color: black;
  font-weight: 400;
}

.list--article--column--category {
  height: 30px;

}

.list--article--top--menu--right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.list--article--under--picture {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 150vh;
  max-height: 50vh;
  overflow-y: scroll ;
}


.list--article--unity {
  margin-left: auto;
  margin-right: auto;
}


.list--article--unity td {
  padding :0px;
  height: 30px;
}

.list--article--unity h2 {
  font-family: 'Lexend', sans-serif; 
  font-size: large;
  margin-bottom: 0px;
}


.list--article--a {
  align-self: left;
  margin-left: 30px;
  color:black;
  width: 100%;
  margin: 0px;
}


.list--article--a:hover {
  text-decoration: none;
  margin: 0px;
  
}


.list--article--unity .badge {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
} 


.list--article--column--date p {
  margin: 0px;
}

