/* ---------------- */
/* --PAGE CONTACT-- */
/* ---------------- */

.contact--body {
  background: white;
  
}

.left--contact {
  height: 100vh;
  padding: 0px;

}

.left--contact--picture {
  background: url('../img/hermes.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: auto;
  margin-left: 0px;
  border-radius: 1%;
}

.right--contact {
  height: 100vh;  
  background: white;
}

.right--contact .contact--title {
  font-family: 'Bebas Neue', cursive; 
  color:black;
  padding: 0px 15px;
  font-weight: 500;
}


.right--contact h2 {
  font-family: 'Bebas Neue', cursive; 
  color:black;
  font-size: large;
  padding: 0px 15px;
}

.right--contact form {
  font-family: 'Lexend', sans-serif; 
  color:black;
}

.form--button--contact {
  background: black;
  color: white;
}

.form--button--contact:hover {
  background: white;
  border: solid 1px black;
}

.contact--imput {
  border: solid 1px black ;
}
