.col-actions {
  width: 60px;
}
/* -------------- */
/* ---NAVBAR----- */
/* -------------- */


/* NAVBAR */

.navbar {
  height: 60px;
  background-color:white;
  padding: 0px;
 }

.navbar--container {
  margin: 0px;
  background-color:white;
}

.narbar-logo {
  display: flex;
  align-items: center;

}

 .vieux {
  transform: scaleX(-1);
  
}



.navbar--maintitle--div {
  margin-right: 20px;
 
}


.navbar--maintitle--link {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: x-large ; 
  color:black;
  align-self: center;
}

.navbar--maintitle--link:hover{
  text-decoration: none;
  color: black;
  

}

.dropdown-menu {
  color:black;

}

.navbar--menu .nav-item {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  color:black;

}

.navbar--menu .nav-item .btn-link {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
 

}

.nav-item .nav-link {
  color:black;

}

.nav--connexion {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;

}

.nav--connexion .nav-link {
  color:black;
}

.contenu {
  background-color: white;
  padding-bottom: 10px;
}

.contenu--item{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
  padding-bottom: 1px;
}

.contenu--item:hover {
    border-bottom: solid 1px black;
    
    
}

.open .arrow{
  transform: rotate(90deg);
}

/* ---------------------- */
/* ---PAGE D'ACCUEIL----- */
/* ---------------------- */


/* BODY */
body {
  background-color:purple;
  margin-top: 60px;
}

/* JUMBOTRON */

.jumbotron {
  background-image: url("../img/epidaure.jpg");
  background-size: cover;
  background-position: center;
}

/* HEADER */

/* CONTAINER */

.main--container {
  
  height: 100%; 
  padding-left:0px; 
  padding-right:0px; 
  width:100vw;

}

/* JUMBOTRON */

.jumbotron {
  height:100vh;
  margin-bottom: 0px;
}

.jumbotron--homeTitle {
  font-family: 'Bebas Neue', cursive; 
  color:black;
  background-color: white;

}

.jumbotron--subTitle {
  color:black;
  background-color: white;
}

/* WELCOME MESSAGE */
.welcome--message {
  background: white; 
  margin-left:0px; 
  margin-right:0px; 
}


.welcome--presentation {
  z-index: 6; 
  height: 100vh; 
  
  

}


.welcome--presentation--text {
  font-size: larger; 
  font-family: 'Lexend', sans-serif;

}

.welcome--thank {
  font-size: larger; 
  font-family: 'Lexend', sans-serif;

}

.welcome--picture {
  width: 100%;
  opacity: 0.7;
}

.welcome--picture:hover {
  width: 100%;
  opacity: 1;
}

.welcome--button {
  margin-top: 50px;
  width: 50%;
  color: #7bc9fe;
  border: #7bc9fe solid 2px;
  font-weight: 700;
  font-family: 'Lexend', sans-serif;
}

.welcome--button:hover {
  background-color: #7bc9fe;
  border: #7bc9fe solid 1px;
  font-family: 'Lexend', sans-serif;
  color: white;
}

.welcome--button--a {
  text-decoration: none;
  }


/* FAVORITE ARTICLES */

.favorite-articles {
  background: #7bc9fe; 
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.home--card--title {
  margin-top: 10px;

}

.home--card--link{
  align-self: center;
  margin-bottom: 15px;
 
}



/* FOOTER */

.footer--legal {
  background-color: white;
  width: 100%;

}
.footer--li {
  list-style-type: none; 
  text-decoration: none;
  

}

.footer--nav-link {
  font-family: 'Lexend', sans-serif; 
  color:black;
}

.footer--nav-link:hover {
  font-family: 'Lexend', sans-serif; 
  color:black;
  text-decoration: underline;
  padding-bottom: 10px;
}

/* ---------------------------- */
/*  ASIDE LEFT LISTE D'ARTICLES */
/* ---------------------------- */

.collapse--menu--left-side {
  display: flex;
  flex-direction: column;
}

.list--article--left h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  margin-left: 20px;
  background-color: chartreuse;
  text-align: center;
}

.collapse--menu--left-side .nav-item {
  margin-left: auto;
  margin-right: auto;

}

.list--article--left {
  background-color:teal;
  height: 100vh;
  padding-top: 30px;
}

v



/* ---------------- */
/* LISTE D'ARTICLES */
/* ---------------- */

/* MENU DES ARTICLES */





/* LISTE DES ARTICLES */

aside .list--article--right {
  background-color: white;

}

.list--article--right {
  background-color: white;
  padding-left: 20px;
}

.list--article--right h1 {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  color:black;
  margin-left: 40px;
  margin-top: 40px;
}

.list--article--right h2 {
  font-family: 'Lexend', sans-serif; 
  font-size: x-large;
  margin-left: 40px;
}

.list--article--righ--div {
  padding: 0px;
}

.list--article--righ--a {
  margin-left: 30px;
  color:black;
  width: 100%;
  margin: 0px;
}

.list--article--righ--a:hover {
  text-decoration: none;
  margin: 0px;
  
}


/* ---------------- */
/* --PAGE CONTACT-- */
/* ---------------- */

.contact--body {
  background: white;
  
}

.left--contact {
  height: 100vh;
  padding: 0px;

}

.left--contact--picture {
  background: url('../img/statue-8450_1920.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: auto;
  margin-left: 0px;
}

.right--contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: white;
}

.right--contact .contact--title {
  font-family: 'Bebas Neue', cursive; 
  color:black;
  padding: 0px 15px;
}

.right--contact--content{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.right--contact h2 {
  font-family: 'Bebas Neue', cursive; 
  color:black;
  font-size: large;
  padding: 0px 15px;
}

.right--contact form {
  font-family: 'Lexend', sans-serif; 
  color:black;
}

.form--button--contact {
  background: black;
  color: white;
}

.form--button--contact:hover {
  background: white;
  border: solid 1px black;
}

.contact--imput {
  border: solid 1px black ;
}

/* ------------------ */
/* --CATEGORIE LIST-- */
/* ------------------ */

.list--article--right {
  padding: 0px;

}


.under--navbar--picture {
  background: url('../img/archaeology-4881001.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  
}


.categorie--list--container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.category--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Lexend', sans-serif; 
  color:black;
  border-radius: 50px;
}

.category--list--unity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: solid black 5px;
  margin-top: 10px;
  border-radius: 50px;
  text-transform: uppercase;

}

.category--list--unity:hover {
  background-color: #7bc9fe;
  

}

.category--list--arrow {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
}

.category--list--arrow i {
  font-size: 40px;
  color: black;
}


/* ------------------ */
/* --PAGE ARTICLE---- */
/* ------------------ */


.article--container {
  background-color: white;
  margin-top: -80px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border : solid 1px black;
  padding :30px 40px;
  font-family: 'Lexend', sans-serif; 
  color:black;
}

.article--container h1 {
  margin-top: 0px;
  padding-top: 40px;
  font-weight: 800;

}

.article--container h2{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  
}

.article--container h3 {
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  
}
.article--container h4 {
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article--container p {
  text-align: justify;
  font-size: medium;
}